.products {
    float: left;
    width: 75%;
    padding: 1rem;
    height: 630px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

.adSpace {
    float: left;
    width: 10%;
    height: 630px;
}

    .adSpace img {
        width: 100%;
        height: 100%;
    }

.filters {
    width: 15%;
    float: left;
    padding-top: 80px;
}

    .filters button {
        float: right;
        margin: 10px;
    }

.dropdown {
    margin-top: 10px;
    float: right;
}

.product {
    border-radius: 25px;
    border: 2px solid lightgrey;
    background-color: rgb(128, 128, 128, 15%);
    width: 31%;
    text-align: center;
    float: left;
    margin: .5rem;
    padding: 1rem;
}

    .product h1{
        height: 15%
    }

    .product img {
        width: 90%;
        border-radius: 19px;
    }

    .product:hover {
        border: 2px solid grey;
        background-color: rgb(128, 128, 128, 35%);
        transform: scale(1.1);
    }

footer {
    padding-top: 15px;
    text-align: center;
    width: 100%;
    position: relative;
    clear: both;
}

.footericon {
    margin-left: 10px;
    text-decoration: none;
}
